language: cpp

addons:
  apt:
    update: true
    packages:
      - cppcheck
      - valgrind
      - cmake
      - libgtest-dev
      - lcov

before_install:
  - cd /usr/src/gtest
  - sudo cmake CMakeLists.txt || (cat CMakeFiles/CMakeError.log && CMakeFiles/CMakeOutput.log)
  - sudo make
  - sudo cp *.a /usr/lib
  - cd -

install:
  - pip install codecov

script:
  - cppcheck --error-exitcode=1 --suppress=missingIncludeSystem src/*.c include/testy/*.h
  - mkdir build
  - cd build
  - cmake .. && make
  - valgrind --error-exitcode=1 --leak-check=full --show-leak-kinds=all --track-origins=yes ./tests
  - lcov --directory . --capture --output-file coverage.info
  - lcov --remove coverage.info '/usr/*' "${HOME}"'/.cache/*' --output-file coverage.info
  - lcov --list coverage.info
  - make clean
  - codecov

after_success:
  - bash <(curl -s https://codecov.io/bash)
